
-- Chart View 를 표현하기 위한 테이블 

SELECT 
B.ORDER_OF_BILLET, 
A.ORDER_NUMBER, 
A.HEAT_ID, 
A.CHARGE_TEMPERATURE, 
A.DISCHARGE_TEMPERATURE, 
B.PREDICT_DISCHARGE_BILLET_TEMPERATURE, 
B.PREDICT_CURRENT_BILLET_TEMPERATURE, 
B.ZONE_AVERAGE_TEMPERATURE,
C.UP_TEMP
FROM BILLET AS A INNER JOIN BILLET_STATUS AS B ON A.LEVEL2ID = b.LEVEL2ID LEFT JOIN ZONE_STATUS AS C ON a.BILLET_STATUS = a.BILLET_STATUS
WHERE A.BILLET_STATUS = 2 
ORDER BY b.ORDER_OF_BILLET DESC